@use '../lib/ui/style/spaces';
@use '../lib/ui/style/radius';

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

a {
	color: var(--text_primary);
	text-transform: uppercase;
	transition: all 200ms;
}

.active {
	filter: blur(1px);
}

.page-home {
	background-image: url(/assets/images/home.png);
	background-repeat: no-repeat;
}

.page-default {
	background-image: url(/assets/images/background.png);
}

.text-list-decoration-pill li {
	list-style-type: none;
	border-style: solid;
	border-radius: radius.$radius_lg;
	border-color: var(--border-default);
	padding: spaces.$space-sm spaces.$space-lg spaces.$space-sm spaces.$space-lg;
}
