@import '../../lib/ui/style/constants';

.list-services {
	color: var(--text_primary);
	align-self: stretch;
	ul {
		flex-direction: column;
	}
}

/* SMARTPHONE */
@media only screen and (max-width: 767px) {
	.width-sub-title {
		width: 100%;
	}
}

/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.width-sub-title {
		width: 100%;
	}
}

/* DESKTOP */
@media only screen and (min-width: 1024px) {
	.width-sub-title {
		width: 400px;
	}
}
