@import '../../lib/ui/style/constants';

.list-services {
    color: var(--text_primary);
    align-self: stretch;
    ul {
        flex-direction: column;
    }
}

.width-sub-title {
    width: 400px;
}

@media only screen and (max-width: 768px) {
    .width-sub-title {
        width: 100%;
    }
}

